
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="{% static 'home/img/profile.png' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/vendor/animate/animate.css' %}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
    
    <div class="limiter">
        <div class="container-login100" style="background-color: #565b60;">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <a href="{% url 'home' %}">
                        <span class="login100-form-title p-b-26">
                            CgLoW
                        </span>
                    </a>
                    <span class="login100-form-title p-b-48">
                        <i class="zmdi zmdi-account-circle"></i>
                    </span>


                    <div class="wrap-input100 validate-input" data-validate = "username">
                        
                        <input class="input100" type="text" name="user_name">
                        <span class="focus-input100" data-placeholder="username"></span>
                    </div>

                    {% if user_error %}
                        <div style="margin-top: -2rem; padding-bottom: 1rem;">
                            <p style="color: red;">{{user_error}}</p>
                        </div>
                    {% endif %}
                    
                    <div class="wrap-input100 validate-input" data-validate = "First name">
                        
                        <input class="input100" type="text" name="first_name">
                        <span class="focus-input100" data-placeholder="First Name"></span>
                    </div>
                    

                    <div class="wrap-input100 validate-input" data-validate = "Last Name">
                        
                        <input class="input100" type="text" name="last_name">
                        <span class="focus-input100" data-placeholder="Last Name"></span>
                    </div>
                    

                    <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                        
                        <input class="input100" type="text" name="email">
                        <span class="focus-input100" data-placeholder="Email Address"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" name="password">
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>
                    
                    {% if password_missmatch %}
                        <div style="margin-top: -2rem; padding-bottom: 1rem;">
                            <p style="color: red;">{{password_missmatch}}</p>
                        </div>
                    {% endif %}

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" name="confirm_password">
                        <span class="focus-input100" data-placeholder="Comfirm Password"></span>
                    </div>
                    
                    {% if password_missmatch %}
                        <div style="margin-top: -2rem; padding-bottom: 1rem;">
                            <p style="color: red;">{{password_missmatch}}</p>
                        </div>
                    {% endif %}

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <div id="dropDownSelect1"></div>
    
<!--===============================================================================================-->
    <script src="{% static 'authentication/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'authentication/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'authentication/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'clients/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'authentication/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'authentication/vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'authentication/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'authentication/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'authentication/js/main.js' %}"></script>

</body>
</html>