<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/icon/favicon.ico">

    <title>CgLoW</title>

    {% load staticfiles%}
    <link rel="icon" type="image/png" href="{% static 'home/img/profile.png' %}">
    <!-- 
    Bootstrap core CSS-->
    <link href="{% static 'home/css/bootstrap.css' %}" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <!--<link href="{% static 'home/css/navbar.css' %}" rel="stylesheet">-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/light.css' %}">
    <script src="{% static 'home/js/prettify.js' %}"></script>
    <link rel="stylesheet" href="{% static 'home/css/customcss.css' %}">

    {% block stylefile %}
    
    {% endblock stylefile %}

  </head>
  <body class="website-mode">
    <div id="navigation-container">
        <header class="ribbon">
            <div class="content">
                <div class="h-small">
                    {% if user.is_authenticated %}
                        <div class="h-avatar animated rubberBand" style="background-image: url('/static/home/img/profilelogo.png');">
                            <ul class="h-avatar-menu">
                                <li>
                                    <a href="{% url 'user_profile' %}">Profile</a>
                                </li>
                            </ul>
                        </div>
                        <div class="h-user">
                            <strong>Hi,</strong>
                            {{user.username}}
                            <br>
                            <i>{{user.email}} </i>
                        </div>
                        <ul id="menu" style="float: left;">
                            <li >
                                <a href="{% url 'user_logout' %}">LOGOUT</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul id="menu" style="float: left;">
                            <li>
                                <a href="{% url 'login' %}">LOGIN</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}">REGISTER</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="h-large">
                    <ul id="menu">
                        <li>
                            <a href="{% url 'contest' %}">CONTEST</a>
                        </li>
                        <li>
                            <a href="{% url 'problem_list' %}">PROBLEMSET</a>
                        </li>
                        <li>
                            <a href="{% url 'show_submission' %}">SUBMISSION</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a class="navbar-brand" style="font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; padding-top: 1rem; color: #555759;" href="{% url 'home' %}">
                    CgL&sigma;w
                    <sup style="margin-left: -10px; font-size: 12px;">β</sup>
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div style="position: fixed; top: 0; left: 0; width: 100%; height:100%; background: rgba(255,255,255,0.8); z-index: -1;">
    </div>
    <div style="margin-top: 50px; padding-bottom: 2rem;">
        {% block content %}

        {% endblock content %}
    </div>
    <footer class="ribbon">
        <div class="footer-content">
            <div class="site-author">
            © Created By TariqueNasrullah
            </div>
            <div class="site-version">
                <a href="https://github.com/TariqueNasrullah/cglow"><i class="fa fa-github fa-lg"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    
    <script>window.jQuery || document.write('<script src="{% static 'home/js/jquery-slim.min.js'%}"><\/script>')</script>
    <script src="{% static 'home/js/popper.min.js'%}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>

    {% block javascript %}

    {% endblock javascript %}
  </body>
<html>