{% extends "home/header.html" %}

{% block content %}
  <div class="container">
      <h1 style="font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; text-align: center; padding-top: 5rem;">Welcome to CgLoW Online Judge</h1>
      <h4 style="font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; text-align: center;">Created and Maintained by JnU_PuzzleMaker</h4>
      <h6 style="font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; text-align: center;">Work in Progress with this site . . . .</h6>
    </div>
{% endblock %}