{% extends 'home/header.html' %}

{% block content %}
    <div>
        <div>
            <p style="font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;padding-left: 5rem; font-size: 35px; font-weight: 550; color: #161617; text-align: center;"> Submissions </p>
        </div>

        <div style="width: 90%; margin: 0 auto; background-color: red; font-size: 15px;">
            <div class="row">
                <div class="col-lg-12 col-md-12" style="background-color: white;">
                    <div style="padding-top: 2rem;" >
                        <div class="container">
                            <div class="tablec">
                                <table class="table table-striped" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th>#</th>
                                            <th>Author</th>
                                            <th>Problem</th>
                                            <th>Submission Time</th>
                                            <th>Language</th>
                                            <th>Verdict</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tab">
                                        {% for i in submission %}
                                            <tr style="text-align: center;">
                                                <td><a href="{% url 'individual_submission' pk=i.id %}">{{i.id}}</a></td>
                                                <td>{{i.user_id}}</td>
                                                <td><a style="color: black;" href="{% url 'show_problem' pk=i.problem_id.id %}">{{i.problem_id.problem_name}}</a></td>
                                                <td>{{i.submission_time}}</td>
                                                <td>{{i.language}}</td>
                                                {% if i.judge_result == "Accepted" %}
                                                    <td style="color: green"> {{i.judge_result}} <i class="fa fa-check-circle" aria-hidden="true"style="padding-left: 0.1rem;"></i></td>;
                                                {% elif i.judge_result == "Not Judged Yet" %}
                                                    <td style="color: #6f6f70"> {{i.judge_result}} <i class="fa fa-spinner fa-pulse fa-fw"></i></td>
                                                {% else %}
                                                    <td style="color: red"> {{i.judge_result}} </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
