{% extends "home/contest_header.html" %}

{% block content %}
	<div>
    	<h4 class="white-background-header" style="font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; text-align: center; padding-left: 0rem;">{{contest_info}}</h4>
	
		<h6 id="clock" class="white-background-header" style="font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; text-align: center; width: 200px; margin: auto; margin-top: -8px; padding-left: 0rem; font-weight: bold;"></h6>
		
	  </div>

  	<div class="container" style="background-color: white;">
  		<table class="table" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
  			<thead>
  				<tr id="table_head" style="text-align: center;">
  					<th style="width: 10px;">#</th>
  					<th></th>
  					<th style="width: 100px"></th>
  					<th></th>
  					<th></th>
  					<th></th>
  				</tr>
  			</thead>
  			<tbody id="tab">
  				
  			</tbody>
  		</table>
  	</div>

{% endblock %}



{% block javascript %}
  <script type="text/javascript">
  	$(document).ready(function() {
  		var number_of_problems = {{ number_of_problems|safe }};
  		var standing = {{ standing|safe }};
  		var pkk = {{pk|safe}};
  		
  		for(var i = 0; i < number_of_problems; i++){
  			my_data = '';
            var c = 'A' + i;
            my_data += '<th>' + String.fromCharCode('A'.charCodeAt() + i) + '</th>';
            $('#table_head').append(my_data);
  		}

  		var my_data = '';

  		for(var row = 0; row < standing.length; row++){
  			my_data += '<tr style="text-align: center;">';
  			var id = row+1;
  			my_data += '<td style="font-size: .8em;">' + id + '</td>';
  			my_data += '<td><h6 style="font-size: 1em; font-weight: 550;font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;">' + standing[row][0] + '</h6></td>';
  			my_data += '<td>' + ' ' + '</td>';
            my_data += '<td>' + ' ' + '</td>';
            my_data += '<td>' + ' ' + '</td>';

            my_data += '<td><div><h6 style="font-size: .8em; font-weight: bold;">' + standing[row][1] + '</h6><h6 style="font-size: .7em; margin-top: -.5rem; font-weight: 700;">' + standing[row][2]  + '</h6></div></td>';

            for(var prob_stat = 0; prob_stat < number_of_problems; prob_stat++){
            	var res = standing[row][3][prob_stat];
            	
            	if(res=="sub"){
            		my_data += '<td><i class="fa fa-times" aria-hidden="true" style="font-size: 1em; color: orange;"></i></td>';
            	}
            	else if (res=="ac"){
            		my_data += '<td><i class="fa fa-check" aria-hidden="true" style="font-size: 1em; color: green;"></i></td>';
            	}
            	else{
            		my_data += '<td></td>';
            	}
            }
            my_data += '</tr>'
  		}

  		$('#tab').html('')
  		$('#tab').prepend(my_data);


  		var my_refresh = setInterval(function() {
  			var test = $.ajax({ cache: false, url : '{% url 'contest_standing_server' pk=pk %}' });

  			test.done(function(msg){
  				var recv = JSON.parse(msg);
  				var standing = recv.standing;


  				var my_data = '';

		  		for(var row = 0; row < standing.length; row++){
		  			my_data += '<tr style="text-align: center;">';
		  			var id = row+1;
		  			my_data += '<td style="font-size: .8em;">' + id + '</td>';
		  			my_data += '<td><h6 style="font-size: 1em; font-weight: 550;font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;">' + standing[row][0] + '</h6></td>';
		  			my_data += '<td>' + ' ' + '</td>';
		            my_data += '<td>' + ' ' + '</td>';
		            my_data += '<td>' + ' ' + '</td>';

		            my_data += '<td><div><h6 style="font-size: .8em; font-weight: bold;">' + standing[row][1] + '</h6><h6 style="font-size: .7em; margin-top: -.5rem; font-weight: 700;">' + standing[row][2]  + '</h6></div></td>';

		            for(var prob_stat = 0; prob_stat < number_of_problems; prob_stat++){
		            	var res = standing[row][3][prob_stat];
		            	
		            	if(res=="sub"){
		            		my_data += '<td><i class="fa fa-times" aria-hidden="true" style="font-size: 1em; color: orange;"></i></td>';
		            	}
		            	else if (res=="ac"){
		            		my_data += '<td><i class="fa fa-check" aria-hidden="true" style="font-size: 1em; color: green;"></i></td>';
		            	}
		            	else{
		            		my_data += '<td></td>';
		            	}
		            }
		            my_data += '</tr>'
		  		}

		  		$('#tab').html('')
		  		$('#tab').prepend(my_data);


  			});
  		}, 5000);

  		
  	});

	$('clock').onload = function(){
		console.log("loaded");
	}

	var start_time = "{{contest_info.start_time|safe}}";
	var end_time = "{{contest_info.end_time|safe}}";
	var s = Date.parse(start_time);
	var e = Date.parse(end_time);
	var x = setInterval(function() {
		var n = new Date().getTime();
		var distance = s-n;

		if(distance < 0){
			//document.getElementById("clock").innerHTML = "Contest is Running";
			//document.getElementById("enterBtn").onclick = function(){return true;};
			//document.getElementById("standingBtn").onclick = function(){return true;};
			//document.getElementById("enterBtn").style["pointer-events"]= 'auto';
			//document.getElementById("standingBtn").style["pointer-events"] = 'auto';
			distance = e-n;
			var hour = Math.floor(distance/(3600*1000));
			distance = Math.floor(distance%(3600*1000));
			var minute = Math.floor(distance/(60*1000));
			distance = Math.floor(distance%(60*1000));
			var seconds = Math.floor(distance/1000);

			document.getElementById("clock").innerHTML = hour + ":" + minute + ":" + seconds;

			if(distance < 0){
			clearInterval(x);
			//document.getElementById("clock").innerHTML = "00:00:00";
			document.getElementById("clock").innerHTML = "Finished";
			}
		}
		else{
			//document.getElementById("enterBtn").onclick = function(){return false;};
			//document.getElementById("standingBtn").onclick = function(){return false;};
			//document.getElementById("enterBtn").style["pointer-events"] = 'none';
			//document.getElementById("standingBtn").style["pointer-events"] = 'none';
			var hour = Math.floor(distance/(3600*1000));
			distance = Math.floor(distance%(3600*1000));
			var minute = Math.floor(distance/(60*1000));
			distance = Math.floor(distance%(60*1000));
			var seconds = Math.floor(distance/1000);

			document.getElementById("clock").innerHTML = hour + ":" + minute + ":" + seconds;
		}

		}, 1000);
  </script>
{% endblock %}